---
import Breadcrumb from "@components/Breadcrumb/Breadcrumb.astro";
import InputQuantity from "@components/InputQuantity.astro";
import { isActionError, actions } from "astro:actions";
import Layout from "@layouts/Layout.astro";
import Icon from "@icons";

const res = await Astro.callAction(actions.getCart, null);
if (isActionError(res)) {
  console.error(res.error);
}

const joinItems = res.data ?? [];

export const prerender = false;
---

<Layout
  className="max-w-screen-8xl mx-auto w-full px-4 py-6 border-primary border-t"
>
  <Breadcrumb />
  <h1
    id="cart-items"
    class="text-[clamp(2rem,1.4286rem+1.1905vw,2.5rem)]/[clamp(2rem,1.4286rem+1.1905vw,2.5rem)] text-black font-integral font-bold mt-6 max-nav:mt-2"
  >
    Your Cart
  </h1>
  <div class="mt-6 flex max-nav:flex-col gap-5">
    <!-- ITEMS -->
    <section
      aria-labelledby="cart-items"
      class="border border-primary rounded-3xl nav:px-6 nav:py-5 p-3.5 grow max-h-[calc(100vh-20rem)] overflow-y-auto"
    >
      <ul aria-label="product items" class="space-y-6">
        {
          joinItems.map((item, index) => (
            <li aria-label="item">
              <article aria-label="Product" class="inline-flex gap-x-4 w-full">
                <figure aria-label="Product Thumbnail">
                  <img
                    class="aspect-square max-w-28 max-nav:max-w-24 h-fit"
                    onerror={`this.src='/imgs/not-found.webp'`}
                    src={item.product.thumbnailUrl}
                    alt={item.product.title}
                    decoding="async"
                  />
                </figure>
                <div class="inline-flex gap-x-2 justify-between w-full">
                  <div
                    aria-label="Product details"
                    class="flex flex-col justify-between"
                  >
                    <span>
                      <a href={`shop/product/${item.product.id}`} class="hover:underline">
                        <h4 class="font-bold text-lg max-nav:text-base max-nav:w-48 max-sm:w-24 truncate cursor-pointer">
                          {item.product.title}
                        </h4>
                      </a>
                      <p class="font-light text-sm">
                        <strong>Size:</strong> {item.product_details.size}
                      </p>
                      <p class="font-light text-sm">
                        <strong>Color:</strong> {item.product_details.color}
                      </p>
                    </span>
                    <data
                      aria-label="current price"
                      class="font-bold text-xl max-nav:text-lg"
                      value="120"
                    >
                      ${item.product.price ?? "$"}
                    </data>
                  </div>
                  <div class="flex flex-col justify-between">
                    <button
                      aria-label="Delete cart product"
                      class="w-fit self-end"
                      type="button"
                    >
                      <Icon.Trash class="w-6 max-nav:w-5" />
                    </button>
                    <InputQuantity
                      defaultValue={item.cart.quantity}
                      class="!h-fit max-nav:text-base"
                      itemClass="max-nav:text-sm"
                    />
                  </div>
                </div>
              </article>
              {joinItems.length === index && <hr class="mt-6 border-primary" />}
            </li>
          ))
        }
      </ul>
    </section>

    <!-- RESUMEN DE LA ORDEN -->
    <section
      aria-labelledby="order_summary_heading"
      class="border border-primary rounded-3xl p-5 nav:px-6 nav:py-5 flex flex-col gap-y-6 max-nav:gap-y-4 h-fit"
    >
      <!-- CABECERA DEL RESUMEN -->
      <h2 id="order_summary_heading" class="font-bold text-2xl/6 text-black">
        Order Summary
      </h2>
      <div
        aria-label="Order summary details"
        class="flex flex-col gap-y-5 max-nav:gap-y-3.5 text-lg max-nav:text-base font-light"
      >
        <div aria-label="Subtotal" class="flex justify-between">
          <p>Subtotal</p>
          <p class="font-bold">$565</p>
        </div>
        <div aria-label="Discount" class="flex justify-between">
          <p>Discount (-20%)</p>
          <p class:list={["text-red-600", "font-bold"]}>-$113</p>
        </div>
        <div aria-label="Delivery fee" class="flex justify-between">
          <p>Delivery Fee</p>
          <p class="font-bold">$15</p>
        </div>
        <hr class="border-primary" />
        <div aria-label="Total" class="flex justify-between">
          <p class="font-medium">Total</p>
          <p class="font-bold text-2xl max-nav:text-xl">$467</p>
        </div>
      </div>
      <!-- CAMPO CODIGO DESCUENTO -->
      <div class="inline-flex gap-x-3">
        <label class="relative grow" for="promo_code">
          <span class="sr-only">Add promo code</span>
          <input
            type="text"
            id="promo_code"
            autocomplete="off"
            placeholder="Add promo code"
            class="bg-primary rounded-3xl pl-12 px-4 py-3 w-full max-nav:text-sm"
          />
          <Icon.Tag class="absolute top-3 left-4 w-5" />
        </label>
        <button
          class="bg-black text-white max-nav:text-sm rounded-3xl px-8 py-3"
          aria-label="Apply discount code"
        >
          Apply
        </button>
      </div>
      <!-- BOTÓN CHECKOUT -->
      <button
        class="bg-black rounded-full text-white max-nav:text-sm p-4 inline-flex gap-x-3 items-center justify-center"
        aria-label="Go to Checkout"
        type="button"
      >
        <span class="leading-3">Go to Checkout</span>
        <Icon.Arrow class="w-6 max-nav:w-5" />
      </button>
    </section>
  </div>
</Layout>
