---
import ColorSelector from "@components/ColorSelector.astro";
import InputQuantity from "@components/InputQuantity.astro";
import CarruselProduct from "@components/Products/CarruselProduct.astro";
import CardReview from "@components/Reviews/CardReview.astro";
import SizeSelector from "@components/SizeSelector.astro";
import { Breadcrumb } from "@components/Breadcrumb";
import Layout from "@layouts/Layout.astro";
import { actions } from "astro:actions";
import { Tab } from "@components/Tab";

const { productId, category } = Astro.params;

if (!productId) {
  return Astro.redirect(`/404`);
}

const result = await Astro.callAction(actions.getProductById, {
  id: productId
});
if (!result || result.error) {
  return Astro.redirect(`/404`);
}

const product = result.data as Product;

const colors = new Set(product.inventory.map((inventory) => inventory.color));
const sizes = new Set(product.inventory.map((inventory) => inventory.size));

const filteredByColor = product.inventory.filter(
  (inventory) => inventory.color === product.inventory[0].color
);

export const prerender = false;

const previousPrice = product.discount
  ? (product.price / (1 - product.discount / 100)).toFixed(2)
  : null;
---

<Layout
  id="product-page"
  title="Product"
  className="w-full max-w-screen-2xl px-4 mx-auto"
>
  <!-- BREADCRUMB -->
  <Breadcrumb>
    <Breadcrumb.Item>
      <a href="/">Home</a>
    </Breadcrumb.Item>
    <Breadcrumb.Item>
      <a href="/shop">Shop</a>
    </Breadcrumb.Item>
    <Breadcrumb.Item active>
      {category}
    </Breadcrumb.Item>
  </Breadcrumb>

  <section
    class="mt-9 max-nav:mt-5 mb-10 flex max-nav:flex-col gap-10 max-md:gap-5"
  >
    <!-- IMAGENES DEL PRODUCTO -->
    <CarruselProduct product={product} />

    <!-- DETALLES DEL PRODUCTO -->
    <form
      autocomplete="off"
      aria-label="Product Details"
      class="flex-grow nav:min-w-[400px]"
      action=""
    >
      <div class="flex flex-col gap-3">
        <h1
          class="font-integral text-[clamp(2rem,1.4286rem+1.1905vw,2.5rem)] font-extrabold uppercase text-black"
        >
          {product.title}
        </h1>

        <!-- Calificación -->
        <div class="inline-flex justify-start gap-1">
          <!-- Estrellas de Calificación -->
          <span
            class={`text-2xl -my-[6px] inline-flex rating-star rating-star-[${Number(product.rating).toFixed(1)}]`}
            aria-label={`Calificación de ${Number(product.rating).toFixed(1)} de 5`}
            role="img"
          >
          </span>
          <p aria-label="rating" class="text-sm">
            {Number(product.rating).toFixed(1)}/<span class="opacity-60">5</span
            >
          </p>
        </div>

        <!-- PRECIO -->
        <div class="inline-flex items-center gap-3">
          <!-- Precio Actual -->
          <data
            aria-label="current price"
            class="font-bold text-2xl"
            value="120"
          >
            ${product.price ?? "$"}
          </data>

          <!-- Precio Anterior con Descuento -->
          {
            product.discount && previousPrice && (
              <>
                <s aria-label="old price" class="font-bold text-2xl opacity-40">
                  ${previousPrice}
                </s>
                <span
                  aria-label="discount"
                  class="bg-[#FF333310] text-[#FF3333] rounded-full py-[6px] px-[14px]"
                >
                  -{product.discount}%
                </span>
              </>
            )
          }
        </div>

        <!-- DESCRIPCION -->
        <p class="text-base text-primary mt-1">
          This graphic t-shirt which is perfect for any occasion. Crafted from a
          soft and breathable fabric, it offers superior comfort and style.
        </p>
      </div>

      <hr class="my-6" />

      <!-- COLORES -->
      <div class="flex flex-col gap-4">
        <span class="text-primary">Select Colors</span>
        <div class="inline-flex gap-4">
          {
            Array.from(colors).map((color, i) => (
              <ColorSelector
                id={`${color}-color`}
                checked={i === 0}
                color={color}
                type="radio"
                name="color"
              />
            ))
          }
        </div>
      </div>

      <hr class="my-6" />

      <!-- TALLAS -->
      <div class="flex flex-col gap-4">
        <span class="text-primary">Choose Size</span>
        <div class="inline-flex flex-wrap gap-4">
          {
            Array.from(sizes).map((size, i) => (
              <SizeSelector
                disabled={
                  filteredByColor.find(
                    (inventory) => inventory.size === size
                  ) === undefined
                }
                {...(i === 0 && { checked: true })}
                id={`${size}-size`}
                content={size}
                type="radio"
                name="size"
              />
            ))
          }
        </div>
      </div>

      <hr class="my-6" />

      <!-- CANTIDAD Y CARRITO -->
      <div class="inline-flex gap-5 w-full">
        <InputQuantity
          max={product.inventory[0]?.stock || 1}
          itemClass="max-w-20 max-nav:w-12"
          id="quantity"
        />
        <button
          class="bg-black text-white py-3 rounded-full w-full grow disabled:opacity-35 disabled:hover:scale-100 hover:scale-95 transition-all"
          data-selected-product={product.inventory[0]?.id}
          aria-label="Add to Cart"
          id="add-to-cart"
          type="button"
        >
          Add to Cart
        </button>
      </div>
    </form>
  </section>

  <Tab>
    <Tab.Panel name="tab_1" ariaLabel="Product Details" class="py-6 px-0">
      <h3>Description</h3>
      <p>
        This graphic t-shirt which is perfect for any occasion. Crafted from a
        soft and breathable fabric, it offers superior comfort and style.
      </p>
    </Tab.Panel>
    <Tab.Panel
      name="tab_2"
      ariaLabel="Rating & Reviews"
      checked
      class="py-6 px-0"
    >
      <!-- HEADER -->
      <div class="inline-flex justify-between w-full mb-6 max-nav:mb-5">
        <h3 class="font-medium text-[clamp(1.25rem,0.6467rem+1.0667vw,1.5rem)]">
          All Reviews
          <span
            aria-label="cantidad de comentarios"
            class="text-primary text-base">(451)</span
          >
        </h3>

        <div class="inline-flex gap-x-2.5">
          <span class="bg-primary rounded-full p-3 max-nav:p-2.5 h-fit">
            <svg
              class="w-6 max-nav:w-5"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M13.125 11.625v8.625a1.125 1.125 0 1 1-2.25 0v-8.625a1.125 1.125 0 1 1 2.25 0ZM18.75 18a1.125 1.125 0 0 0-1.125 1.125v1.125a1.125 1.125 0 1 0 2.25 0v-1.125A1.125 1.125 0 0 0 18.75 18ZM21 14.25h-1.125V3.75a1.125 1.125 0 1 0-2.25 0v10.5H16.5a1.125 1.125 0 1 0 0 2.25H21a1.125 1.125 0 1 0 0-2.25ZM5.25 15a1.125 1.125 0 0 0-1.125 1.125v4.125a1.125 1.125 0 0 0 2.25 0v-4.125A1.125 1.125 0 0 0 5.25 15Zm2.25-3.75H6.375v-7.5a1.125 1.125 0 0 0-2.25 0v7.5H3a1.125 1.125 0 1 0 0 2.25h4.5a1.125 1.125 0 1 0 0-2.25Zm6.75-4.5h-1.125v-3a1.125 1.125 0 1 0-2.25 0v3H9.75a1.125 1.125 0 0 0 0 2.25h4.5a1.125 1.125 0 0 0 0-2.25Z"
                fill="#000"
              >
              </path>
            </svg>
          </span>

          <select
            class="bg-primary py-3 px-5 pr-11 rounded-[60px] text-black font-medium cursor-pointer h-12 max-nav:hidden"
            name="order_by"
            id="order_by"
          >
            <option value="top">Top comments</option>
            <option value="latest">Latest</option>
          </select>
          <button
            class="bg-black text-white max-nav:text-sm font-medium rounded-[60px] border-none py-3 max-nav:py-2.5 px-5 hover:bg-opacity-60 transition-all"
            >Write a Review</button
          >
        </div>
      </div>

      <!-- COMENTARIOS -->
      <div
        id="products__container"
        class="grid gap-5 grid-cols-[repeat(auto-fit,minmax(358px,1fr))]"
        aria-labelledby="products__info"
        role="region"
      >
        <!-- LOADER -->
        <span
          id="products__loader"
          class="mx-auto loading loading-infinity loading-lg hidden"
          aria-label="Loading products"
          aria-live="polite"
          role="status"
        >
        </span>

        <!-- LISTA DE PRODUCTOS -->
        <CardReview
          username="Jonh D."
          rating="4.4"
          comment="I absolutely love this t-shirt! The design is unique and the fabric feels so comfortable. As a fellow designer, I appreciate the attention to detail. It's become my favorite go-to shirt."
        />
        <CardReview
          username="Alex M."
          rating="4"
          comment="The t-shirt exceeded my expectations! The colors are vibrant and the print quality is top-notch. Being a UI/UX designer myself, I'm quite picky about aesthetics, and this t-shirt definitely gets a thumbs up from me."
        />
        <CardReview
          username="Ethan R."
          rating="3.4"
          comment="This t-shirt is a must-have for anyone who appreciates good design. The minimalistic yet stylish pattern caught my eye, and the fit is perfect. I can see the designer's touch in every aspect of this shirt."
        />
      </div>
    </Tab.Panel>
    <Tab.Panel
      name="tab_3"
      ariaLabel="FAQs"
      inputClass="w-full"
      class="py-6 px-0"
    >
      <h3>Faqs</h3>
      <p>
        This graphic t-shirt which is perfect for any occasion. Crafted from a
        soft and breathable fabric, it offers superior comfort and style.
      </p>
    </Tab.Panel>
  </Tab>
</Layout>

<script src="@scripts/productId.ts"></script>
