---
import Layout from "@layouts/Layout.astro";
import Filters from "@components/Filters.astro";
import { Breadcrumb } from "@components/Breadcrumb";
import { Paginator } from "@components/Paginator";
import Icons from "@icons";

interface ShopProps {
  html: string;
  total: number;
  currentPage: number;
  pagination: PaginatorType;
}

const { currentPage, html, total, pagination } = Astro.props as ShopProps;
const { category } = Astro.params;
---

<Layout
  id="shop"
  title="Shop"
  clientRouter={true}
  className="relative max-w-screen-8xl mx-auto w-full nav:grid nav:grid-cols-[0.5fr_1fr_1fr] nav:grid-rows-[auto_1fr_1fr_1fr_auto] gap-x-5 gap-y-6 px-4 pb-20 pt-6 border-primary border-t"
>
  <!-- BREADCRUMB -->
  <Breadcrumb />

  <!-- ASIDE -->
  <Filters />

  <!-- PRODUCTS CONTENT -->
  <section
    aria-label="main"
    class="col-span-2 row-span-3 row-start-2 max-nav:mt-4"
  >
    <!-- HEADER -->
    <header aria-label="header" class="flex justify-between items-end">
      <h3 class="font-bold text-2xl capitalize">{category || "All"}</h3>
      <div
        class="inline-flex gap-x-3 max-nav:justify-between max-nav:items-center max-nav:w-full max-nav:ml-2 text-primary"
      >
        <p
          class="max-nav:text-sm max-nav:h-fit"
          aria-label="show count of products"
          id="products__info"
        >
          Showing {currentPage}-{pagination.totalPages} of {total} Products
        </p>
        <div class="max-nav:hidden" aria-label="sort products">
          <label for="sort">Sort by:</label>
          <select
            id="sort"
            name="sort"
            class="bg-transparent pr-8 font-medium text-black text-center cursor-pointer"
            aria-label="Sort products"
          >
            <option value="newest">Newest</option>
            <option value="price" selected>Most Popular</option>
          </select>
        </div>
        <button
          role="button"
          id="filter__toggle"
          aria-label="Toggle filter"
          class="bg-primary rounded-full p-1.5 h-fit nav:hidden"
        >
          <Icons.Filter />
        </button>
      </div>
    </header>

    <!-- CONTENEDOR DE LOS PRODUCTOS -->
    <div
      id="products__container"
      class="grid gap-5 grid-cols-[repeat(auto-fit,minmax(234px,1fr))] aria-busy:min-h-52"
      aria-labelledby="products__info"
      role="region"
    >
      <!-- LOADER -->
      <span
        id="products__loader"
        class="mx-auto loading loading-infinity loading-lg hidden"
        aria-label="Loading products"
        aria-live="polite"
        role="status"
      >
      </span>

      <!-- LISTA DE PRODUCTOS -->
      <Fragment set:html={html} />
    </div>
  </section>

  <Paginator {...pagination} />
</Layout>

<script src="@scripts/shop.ts"></script>
