---
interface ColorSelectorProps {
  type?: "checkbox" | "radio";
  checked?: boolean;
  content?: string;
  name?: string;
  id?: string;
}

const {
  id,
  name,
  content,
  type = "checkbox",
  checked = false
} = Astro.props as ColorSelectorProps;
---

<label
  class="relative bg-[#F0F0F0] py-3 px-5 rounded-full text-sm overflow-hidden transition-colors"
  for={id}
>
  <input
    class="absolute z-20 w-full h-full left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 opacity-0 cursor-pointer"
    checked={checked}
    type={type}
    name={name}
    id={id}
  />
  <span>{content}</span>
  <span class="sr-only">Select size {name}</span>
</label>

<style>
  label:has(input:checked) {
    background-color: #000;
    color: #fff;
  }
</style>
